{% extends "base.html" %}

{% block title %}Criar Lembrete{% endblock %}

{% block content %}
<section>
    <h1>Criar Lembrete</h1>

    <form id="form_criar" action="{{ url_for('criar') }}" method="post">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="detalhes">Descrição</label>
        <textarea id="detalhes" name="detalhes" rows="4" required></textarea>

        <label for="titulo">Categoria</label>

        <select name="categoria">
            <option value="Faculdade">Faculdade</option>
            <option value="Trabalho">Trabalho</option>
            <option value="Casa">Casa</option>
            <option value="Saúde">Saúde</option>
        </select>

        <br><br>

        <label for="titulo">Prioridade</label>

        <select name="prioridade">
            <option value="Baixa">Baixa</option>
            <option value="Média">Média</option>
            <option value="Alta">Alta</option>
        </select>

        <br><br>

        <label>Data:</label>

        <input type="date" name="data">

        <button type="submit">Salvar lembrete</button>
    </form>
</section>
{% endblock %}